body{
    /* background-image: url(../imgs/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat; */
    font-family: "Nunito", sans-serif;
    background-color: #444444;
}
.small-title span{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 800;
    padding: 8px 20px;
    margin: 0;
    background: #888a96b8;
    color: #b5bcff;
    text-transform: uppercase;
    border-radius: 50px;
    
}
.small-title{
    margin-bottom: 20px;
}
.large-title h2{
    font-size: 32px;
    font-weight: 700;
    color: #ffffffe8;
}
.large-title{
    margin-bottom: 65px;
}
ul{
    list-style: none;
}
.footer{
    color: #ffffffe8;
    /* background-color: ; */
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;
}
.footer .footer-newsletter {
    /* background-color: #d4d8ffa1; */
    border-top: 1px solid #b2baff6a;
    border-bottom: 1px solid #b2baff6a;
    padding: 50px 0;
}
.footer .footer-top {
    padding-top: 50px;
}
.footer .footer-newsletter .newsletter-form {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 6px 8px;
    position: relative;
    background-color: gray;
    border: 1px solid gray;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    transition: 0.3s;
    border-radius: 4px;
}
.footer .footer-newsletter .newsletter-form input[type=email] {
    border: 0;
    padding: 4px;
    width: 100%;
    background-color:gray;
    color: #444444;
}
.footer .footer-newsletter .newsletter-form input[type=submit] {
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    margin: -7px -8px -7px 0;
    background: #4154f1;
    color: white;
    border-radius: 0 4px 4px 0;
}
.footer ul li a {
    color: #ffffffe8;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
}
.footer ul li{
    margin-bottom: 5px;
}
.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #8e9aff0e;
    border: 1px solid #cfd4ffc5;
    font-size: 16px;
    color: #c0c6ff;
    margin-right: 10px;
    transition: 0.3s;
}
.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    color: #ffffffe8;
}
.footer a.navbar-brand{
    text-decoration: none;
    
}
.footer .navbar-brand{
    color: #ffffffe8;
    font-weight: 600;
    font-size: x-large;
    
}
#pageMode{
    background: transparent;
    border: none;
    color: #ffffffe8;
    margin-left: 15px;
    font-size: xx-large;
}

/*****************************************************************************/
nav{
    background-color: #444444;
}
.navbar-light .navbar-brand {
    color: #ffffffe8;;
    font-weight: 700;
    font-size: xx-large;
}
.navbar-light .navbar-brand:hover {
    color: #4154f1;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffffe8;;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #4154f1;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #4154f1;
}
/*****************************************************************************/

.header::before{
    content: '';
    display: block;
    height: 110px;
}
.header{
    
    /* height: 100vh; */
    width: 100%;
    /* background-image: url(../imgs/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat; */
    justify-content: space-between;
    align-items: center;
    
}
.header .header-text{
    margin: 120px 0;
}
.header .header-text button.first:hover{
    background-color: #4154f1;
}
.header .header-text button.first:hover{
    background-color: #4153f1d2;
    border:1px solid #4153f1d2;
}
.header .header-text button.first:hover i{
    margin-left: 8px;
}
.header h1{
    width:94%;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffffe8;
}
.header p{
    font-size: 20px;
    color: #8c8c8c;
}
.header .watch-video{
    border:none;
    background-color: transparent;
    color: #ffffffe8;
    font-size: 18px;
    font-weight: bold;
}
.header .watch-video:hover{
    color: #4154f1;
}
.header .watch-video i{
    color: #4154f1;
    font-weight: normal;
    font-size: 35px;
    vertical-align: middle;
}

.header .header-img img{
    margin-right: 75px
}

/*****************************************************************************/

.about{
    margin: 75px 0;
    color: #ffffffe8;
}
.about .about-text{
    align-self: center;
    background-color: #888a96b8;
    padding: 35px;
    color: #ffffffe8;
}
.about .about-text h6{
    color: #b5bcff;
    font-size: small;
}
.about .about-text p{
    color: #ffffff;
}
.about .about-text button:hover{
    background-color: #4154f1;
}
.about .about-text button:hover{
    background-color: #4153f1d2;
    border:1px solid #4153f1d2;
}
.about .about-text button:hover i{
    margin-left: 8px;
}
.about .about-img{
    align-self: center;
}
.about .about-img img{
    width: 650px;
    height: 500px;
}
/*****************************************************************************/
.values{
    margin: 110px 0;
}
.values .card{
    padding: 50px 30px 30px 30px;
    justify-items: center;
    box-shadow: 0px 0px 10px 0px #ddd;
    border: none;
    background-color: gray;
}
.values .card:hover{
    box-shadow: 0px 0px 20px 0px #ddd;
}
.card-img-top {
    transform: scale(1);
    transition: transform 0.3s ease;
}
.card-img-top:hover {
    transform: scale(0.8);
}
.values .card img{
    height: 250px;
    width: 300px;
    margin: auto;
}

.values .card h5{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #ffffffe8;
}

.values .card p{
    font-size: 15px;
    color: rgb(198, 198, 198);
}
/*****************************************************************************/
.insights{
    margin: 110px 0;
}
.insights .card{
    padding: 30px;
    box-shadow: 0px 0px 20px 0px #ddd;
    border: none;
    background-color: gray;
}
.insights .card span.icon{
    width: 30%;
    vertical-align: middle;
    /* margin: auto; */
    align-self: center;
    font-size: 45px;
}
.insights .card span.icon.icon1{
    color: #4154f1;
}
.insights .card span.icon.icon2{
    color: #ee6c20;
}
.insights .card span.icon.icon3{
    color: #15be56;
}
.insights .card span.icon.icon4{
    color: #bb0852;
}
.insights .card div p{
    font-size: 36px;
    display: block;
    font-weight: 750;
    color: #ffffffe8;
    margin-bottom: 0;

}
.insights .card div span{
    font-size: 16px;
    color: rgb(198, 198, 198);
}
/*****************************************************************************/
.features{
    margin: 110px 0;
}
.features .features-img{
    margin-right: 30px;
    width: 110%;
}
.features .features-img img{
    width: 100%;
}
.features .features-cards{
    align-self: center;
}
.features .features-cards .card{
    padding: 25px;
    margin-bottom: 20px;
    background-color: gray;
    box-shadow: 0px 0px 20px 0px #ddd;
    border: none;
}
.features .features-cards .card span{
    width: 15%;
    color: #ffffffe8;
    background-color: #4154f1;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    margin-right: 10px;
    align-self: center;
}
.features .features-cards .card:hover span{
    color: #4154f1;
    background-color: #bbc2ff;
}
.features .features-cards .card h5{
    align-self: center;
    font-size: 18px;
    font-weight: 700;
    color: #ffffffe8;
}
/*****************************************************************************/
.features2{
    margin: 110px 0;
}

.features2 .features2-list{
    align-self: center;
}
.features2 .features2-list span{
    font-size: 40px;
    color: #b5bcff;
    line-height: 44px;
    margin-right: 15px;
    font-weight: lighter;
}
.features2 .features2-list h5{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #ffffffe8;
}
.features2 .features2-list p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.673);
}
.features2 .features2-list .col{
    margin-bottom: 25px;
}
.features2 .features2-img{ 
    margin: 0 20px;
}
.features2 .features2-img img{ 
    height: 550px;
}
/*****************************************************************************/
.services{
    margin: 110px 0;
}
.services .card{
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px 0px #ddd;
    border: none;
    padding: 60px 10px;
    background-color: gray;
    color: #ffffffe8;
}
.services .card.card1{
    border-bottom: 3px solid #0dcaf0;
}
.services .card.card1:hover{
    color:white !important;
    background-color: #0dcaf0;
}
.services .card.card1:hover i.card-img-top{
    color:#0dcaf0 !important;
    background-color: #ffffff;
}
.services .card.card1:hover h5{
    color:#ffffff !important;
}
.services .card.card1:hover a{
    color:#ffffff !important;
}
.services .card.card1 i.card-img-top{
    background-color: rgba(111, 231, 255, 0.614);
    font-size: 40px;
    padding: 17px;
    border-radius:5px;
    color: #005d6f;
    margin-bottom: 20px;

}
.services .card.card1 h5{
    margin-top: 15px;
    font-size: 24px;
    color: #ffffffe8;
    font-weight: 700;
}
.services .card.card1 a{
    color: #67e6ff;
    font-weight: 700;
}
.services .card.card2{
    border-bottom: 3px solid #ff975b;
}
.services .card.card2:hover{
    color:white !important;
    background-color: #ff975b;
}
.services .card.card2:hover i.card-img-top{
    color:#ff975b !important;
    background-color: #ffffff;
}
.services .card.card2:hover h5{
    color:#ffffff !important;
}
.services .card.card2:hover a{
    color:#ffffff !important;
}

.services .card.card2 i.card-img-top{
    background-color: rgba(253, 125, 20, 0.86);
    font-size: 40px;
    padding: 17px;
    border-radius:5px;
    color: #893200;
    margin-bottom: 20px;

}
.services .card.card2 h5{
    margin-top: 15px;
    font-size: 24px;
    color: #ffffffe8;
    font-weight: 700;
}
.services .card.card2 a{
    color: #ff975b;
    font-weight: 700;
}
.services .card.card3{
    border-bottom: 3px solid #60ffcf;
}
.services .card.card3:hover{
    color:white !important;
    background-color: #60ffcf;
}
.services .card.card3:hover i.card-img-top{
    color:#60ffcf !important;
    background-color: #ffffff;
}
.services .card.card3:hover h5{
    color:#ffffff !important;
}
.services .card.card3:hover a{
    color:#ffffff !important;
}
.services .card.card3 i.card-img-top{
    background-color: rgba(87, 255, 205, 0.988);
    font-size: 40px;
    padding: 17px;
    border-radius:5px;
    color: #009d6e;
    margin-bottom: 20px;

}
.services .card.card3 h5{
    margin-top: 15px;
    font-size: 24px;
    color: #ffffffe8;
    font-weight: 700;
}
.services .card.card3 a{
    color: #60ffcf;
    font-weight: 700;
}
.services .card.card4{
    border-bottom: 3px solid #ff717f;
}
.services .card.card4:hover{
    color:white !important;
    background-color: #ff717f;
}
.services .card.card4:hover i.card-img-top{
    color:#ff717f !important;
    background-color: #ffffff;
}
.services .card.card4:hover h5{
    color:#ffffff !important;
}
.services .card.card4:hover a{
    color:#ffffff !important;
}
.services .card.card4 i.card-img-top{
    background-color: rgb(255, 75, 59);
    font-size: 40px;
    padding: 17px;
    border-radius:5px;
    color: #aa0011;
    margin-bottom: 20px;

}
.services .card.card4 h5{
    margin-top: 15px;
    font-size: 24px;
    color: #ffffffe8;
    font-weight: 700;
}
.services .card.card4 a{
    color: #ff717f;
    font-weight: 700;
}
.services .card.card5{
    border-bottom: 3px solid #a872ff;
}
.services .card.card5:hover{
    color:white !important;
    background-color: #a872ff;
}
.services .card.card5:hover i.card-img-top{
    color:#a872ff !important;
    background-color: #ffffff;
}
.services .card.card5:hover h5{
    color:#ffffff !important;
}
.services .card.card5:hover a{
    color:#ffffff !important;
}
.services .card.card5 i.card-img-top{
    background-color: rgb(171, 119, 255);
    font-size: 40px;
    padding: 17px;
    border-radius:5px;
    color: #4700b9;
    margin-bottom: 20px;

}
.services .card.card5 h5{
    margin-top: 15px;
    font-size: 24px;
    color: #ffffffe8;
    font-weight: 700;
}
.services .card.card5 a{
    color: #a872ff;
    font-weight: 700;
}
.services .card.card6{
    border-bottom: 3px solid #ff76bb;
}
.services .card.card6:hover{
    color:white !important;
    background-color: #ff76bb;
}
.services .card.card6:hover i.card-img-top{
    color:#ff76bb !important;
    background-color: #ffffff;
}
.services .card.card6:hover h5{
    color:#ffffff !important;
}
.services .card.card6:hover a{
    color:#ffffff !important;
}
.services .card.card6 i.card-img-top{
    background-color: rgba(255, 121, 188, 0.93);
    font-size: 40px;
    padding: 17px;
    border-radius:5px;
    color: #a70054;
    margin-bottom: 20px;

}
.services .card.card6 h5{
    margin-top: 15px;
    font-size: 24px;
    color: #ffffffe8;
    font-weight: 700;
}
.services .card.card6 a{
    color: #ff76bb;
    font-weight: 700;
}

/*****************************************************************************/
.pricing{
    margin: 110px 0;
}
.pricing .card{
    padding: 25px;
    box-shadow: 0px 0px 20px 0px #ddd;
    border: none;
    position: relative;
    overflow: hidden;
    background-color: gray;
    color: #ffffffe8;
    transition: all 0.5s;
}
.pricing .card:hover{
    padding: 40px 25px 55px 25px;
    margin: -50px 0;
}
.pricing .card a{
    border: 1px solid #d7dbff;
    background: transparent;
    color: #d7dbff;
    border-radius: 25px;
    padding: 10px 40px;
}
.pricing .card h2{
    font-size: 36px;
    color: #ffffffe8;
    font-weight: 600;
    margin-top: 20px;
}
.pricing .card h2 sup{
    font-size: 20px;
    top: -15px;
    left: -3px;
}
.pricing .card h2 span{
    font-size: 15px;
    color: #ececec;
    font-weight: normal;
}
.pricing .card.pricing-card1 h5{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #74ffd5;
    
}
.pricing .card.pricing-card1 h1{
    color: #74ffd5;
    margin: 20px 0;
    font-size: 60px;
}
/*****************************************************************************/
.pricing .card.pricing-card2 h5{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #7ce9ff;
}

.pricing .card.pricing-card2 h1{
    color: #7ce9ff;
    margin: 20px 0;
    font-size: 60px;
}
.pricing .card.pricing-card2 .badge{
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 13px;
    padding: 5px 0;
    background: #818dff;
}
/*****************************************************************************/
.pricing .card.pricing-card3 h5{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffb489;
    
}
.pricing .card.pricing-card3 h1{
    color: #ffb489;
    margin: 20px 0;
    font-size: 60px;
}
/*****************************************************************************/
.pricing .card.pricing-card4 h5{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #7eb1ff;
    
}

.pricing .card.pricing-card4 h1{
    color: #7eb1ff;
    margin: 20px 0;
    font-size: 60px;
}
/*****************************************************************************/
.f-a-q{
    margin: 110px 0;
}
.accordion{
    color: #ffffffe8;
}
.accordion .accordion-item{
    border: none;
    border-bottom: 1px solid #adb5ff;
    background: transparent;
    color: #ffffffe8;
}
.accordion .accordion-item .accordion-button{
    background-color: transparent;
    font-weight: 600;
}
.accordion .accordion-item .accordion-button.collapsed{
    color: #ffffffe8;
}
/*****************************************************************************/
.portfolio{
    margin: 110px 0;
}
.button-list{
    text-decoration: none;
    color: #ffffffe8;
    margin-right: 15px;
    font-size: 18px;
}
.button-list:hover{
    color: #4154f1;
}
.button-list.active {
    font-weight: bold;
    color: #4154f1;
}

.images-gallery .col-4 {
    display: none;
    margin-bottom: 10px;
}

.images-gallery .col-4.show {
    display: block;
    margin-bottom: 20px;
}
/* .images-gallery img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    aspect-ratio: 1.3 / 1;
} */


.image-container {
    position: relative;
    width: 100%; 
    height: 0;  
    padding-bottom: calc(100% / 1.3); 
    overflow: hidden; 
    aspect-ratio: 1.3 / 1; 
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;  
    object-fit: cover; 
    aspect-ratio: 1.3 / 1;
    transition: all 0.5s;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.overlay .text {
    font-size: 16px;
    line-height: 1.4;
    position: absolute;
    bottom: 20px;
}
.overlay .text span{
    font-size: 13px;
    line-height: 1.4;
    position: absolute;
    left: -51px;
    top: -231px;
    color: white;
    background-color: #4154f1;
    padding: 5px;
    border-radius: 5px;
}
.overlay .icons i{
    margin-right: 10px;
    font-size: 25px;
}
.image-container:hover .overlay {
    opacity: 1;
}
.image-container:hover img {
    transform: scale(1.1);
}
/*****************************************************************************/
.testimonials{
    margin: 110px 0;
}
.carousel.slide .carousel-indicators button{
    background-color: #4154f1;
    padding: 6px 0px;
    border-radius: 50%;
    width: 15px;
    bottom: 5px;
}
.carousel-inner {
    position: relative;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.carousel-item.active {
    opacity: 1;
    position: relative;
}
.testimonial-item {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: gray;
    position: relative;
    color: #ffffffe8;
}
.stars i {
    color: gold;
    margin: 0 2px;
}
.testimonial-img {
    width: 80px;
    height: 80px; 
    border-radius: 50%; 
    margin: 10px auto;
}
.profile h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
}
.profile h4 {
    margin: 0;
    font-size: 0.9em;
    color: white;
}
/*****************************************************************************/
.team{
    margin: 110px 0;
 
 } 
 .team .card{
    background-color: gray;
     box-shadow: 0px 0px 20px 0px #ddd;
     border: none;
     border-radius: 10px;
     color: #ffffffe8;
 }
 .team .card:hover{
     margin-top: -20px;
 }
  .team .card img{
     clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 86%, 64% 79%, 20% 100%, 0 76%, 0 0);
 } 
 .team .card .card-body{
     padding: 0 25px;
  
 } 
 .team .card .card-title{
     color: #a1abff;
     font-weight: 800;
  } 
 /*****************************************************************************/
.clients{
    margin: 110px 0;
}
/*****************************************************************************/
.posts{
    margin: 110px 0;

}
.posts .blog-cont{
    position: relative;
    overflow: hidden;
}

.posts .blog-cont .blog-date{
    font-size: 15px;
    line-height: 1.4;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    background-color: #4154f1;
    padding: 5px;
    /* z-index: 9999; */
}
.posts .card{
    box-shadow: 0px 0px 20px 0px #ddd;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: gray;
}
.posts .card a{
    text-decoration: none;
    color: #8995ff;
    font-weight: bold;
}
.posts .card a:hover{
    color: #4154f1;
}
.posts .card .card-title{
    color: #ffffffe8;
    font-weight: bold;
}
.posts .card .card-text{
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.posts .card .card-text i{
    color: #4154f1;
    margin-right: 5px;
}
.posts .card img{
    transform: scale(1);
    transition: all 0.5s;
}
.posts .card img:hover {
    transform: scale(1.2);
}
.posts hr{
    height: 1px;
    color: rgb(184, 184, 184);
}

/*****************************************************************************/
 /*****************************************************************************/
 /*****************************************************************************/
 