body{
    margin: 0px;
}
.navbar nav{
    width: 100%;
    /* height: 100px; */
    box-shadow: 0px 1px 10px 0 #ddd;
    float: right;
    
}
.navbar nav img {
    float: right;
    width: 8%;
    margin: 5px 150px 20px 20px;
}
.navbar nav ul li{
    font-family:"Cairo", sans-serif;
    list-style: none;
    float: right;
    flex-direction: row;
    margin: 10px;
    cursor: pointer;
}

.navbar nav ul li:hover{
    color: rgb(43, 109, 233);
    text-decoration: underline;
    /* text-decoration-style:solid ; */
}
.navbar nav .lang {
    float: left;
    margin: 5px 10px 25px 150px;
    width: 70px;
    height: 40px;
    background-color: white;
    color: rgb(117, 117, 117);
    border-radius: 5px;
    border-color: rgb(77, 162, 214) ;
    font-family: "Cairo", sans-serif;
    font-size: medium;
    cursor: pointer;
    border: none;
    border: 0.5px solid rgb(77 162 214 / 41%);

}
.navbar nav .signup {
    float: left;
    margin: 5px 10px 25px 10px;
    width: 180px;
    height: 40px;
    background-color: rgb(214, 229, 248);
    color: rgb(17, 113, 197);
    border-radius: 5px;
    border: none;
    font-family: "Cairo", sans-serif;
    font-size: medium;
    cursor: pointer;

}
.first_section .slogan{
    width: 35%;
    float: right;
    direction: rtl;
    margin: 75px 120px 10px 50px;

}
.first_section .slogan .general{
    color: #2c2f2f;
    font-family: "Cairo", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: -20px 0px;

}
.first_section .slogan .light{
    font-family:"Cairo", sans-serif;
    font-size: 2cap;
    color: #858484;

}
.first_section .slogan .know_more{
    margin: 5px 10px 25px 10px;
    width: 180px;
    height: 40px;
    background-color:#0d6efd;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    font-family: "Cairo", sans-serif;
    font-size: medium;
    cursor: pointer;  
}
.first_section .job_search {
    float: right;
    background-image: url(../imgs/bk-header.webp);
    background-size: cover;
    width: 42%;
    margin: 30px 70px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.first_section .job_search .chat img {
    position: absolute;
    /* float: left; */
    margin-top: -235px;
    margin-left: 395px;
    width: 4.5%;

}
.first_section .job_search .calendar img{
    position: absolute;
    /* float: left; */
    margin-top: -190px;
    margin-left: -155px;
    width: 4.3%;

}
.first_section .job_search .tick img{
    position: absolute;
    /* float: left; */
    margin-top: 80px;
    margin-left: 486px;
    width: 4.5%;

}
.first_section .job_search .location img{
    position: absolute;
    /* float: left; */
    margin-top: 180px;
    margin-left: -80px;
    width: 4.5%;
}


.first_section .job_search .search_card {
    width: 57%;
    padding: 5px;
    margin: 50px 0;
    text-align: center;
    box-shadow: 0px 0px 7px 2px #a7a5a561;
    background-color: #ffffff;
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    font-size: 15px;    */
}
.first_section .job_search .search_card input{
    direction: rtl;
    font-family: "Cairo", sans-serif;
    font-size: 15px;
    color: #858484;
    margin: 5px;
    border-color: #d2d1d1;
    border-radius: 5px;
    /* border-style: unset; */
    border: 0;
    border: 1px solid #ddd;
    padding: 5px 10px;
    width: 85%;
}
.first_section .job_search .search_card .general{
    font-family: "Cairo", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 3px;
    color: #2c2f2f;
    

}
.first_section .job_search .search_card .light{
    font-family: "Cairo", sans-serif;
    /* font-size: 2cap; */
    color: #858484;
    margin: 0px;

}
.first_section .job_search .search_card .know_more{
    margin: 5px 0px 25px 0px;
    width: 91%;
    height: 40px;
    background-color: #0d6efd;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    font-family: "Cairo", sans-serif;
    font-size: medium;
    cursor: pointer;
}
.first_section .recommend{
    display: block;
    float: right;
    padding: 80px;
    margin: -60px 40px;


}
.first_section .recommend img{
    border-radius: 50%;
    float: right;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: -10px;

}
.first_section .recommend p{
    float: right;
    margin: 20px -15px;
    width: 310px;
    direction: rtl;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    /* font-weight: bold; */
    color: #000000;

}

.first_section .recommend p span{
    color: rgb(43, 109, 233);
    font-family: "Cairo", sans-serif;
    font-size: medium;
    font-weight: bold;


}

.first_section .trusted{
    float: right;
    width: 45%;
    margin-top: 25px;
    margin-bottom: 60px;

}
.first_section .trusted .span_wrapper
{
    margin-left: -200px;
    margin-top: 30px;
    width: 100%;
}
.first_section .trusted .general{
   
    font-family:"Cairo", sans-serif;
    font-size: 3cap;
    font-weight: bold;
    margin: 3px;
    color: #858484;
    margin-left: 50px;
}

.first_section .trusted .light{
    /* position: absolute; */
    float: left;
    font-family:"Cairo", sans-serif;
    font-size: 1.5cap;
    font-weight: bold;
    color: #858484;
    margin-right: 74px;
    
}

.second_section {
    clear: both; 
    background-color: rgba(249, 249, 249, 0.862);
    width: 100%;
    height: 500px;
    margin-bottom: 35px;
    
}

.second_section .departments{
    width: 53%;
    float: right;
    
}
.second_section .departments .general{
    float: right;
    font-family: "Cairo", sans-serif;
    font-size: 3cap;
    font-weight: bold;
    margin: 65px 120px 5px 120px;
    direction: rtl;
    color: #2c2f2f;

}
.second_section .departments .light{
    display: block;
    float: right;
    font-family:"Cairo", sans-serif;
    font-size: 2cap;
    color: #858484;
    width: 70%;
    margin: 0px 120px 20px 0px;
    direction: rtl;
}

.second_section .departments .card1{
    /* clear: both; */
    float: right;
    margin: 0px 120px 10px 0px;
    width: 37%;
    /* box-shadow: 2px 2px 2px 2px #d7d7d7; */
    border-radius: 5px;
    height: 60px;
    background-color: #ffffff;
    padding: 15px;
}
.second_section .departments .card12{
    /* clear: both; */
    float: right;
    margin: 0px 120px 20px 0px;
    width: 37%;
    /* box-shadow: 2px 2px 2px 2px #d7d7d7; */
    border-radius: 5px;
    height: 60px;
    background-color: #ffffff;
    padding: 15px;
}
.second_section .departments .card{
    /* clear: both; */
    float: right;
    margin: 0px 10px 0px 0px;
    width: 37%;
    /* box-shadow: 2px 2px 2px 2px #d7d7d7; */
    border-radius: 5px;
    height: 60px;
    background-color: #ffffff;
    padding: 15px;
}
.second_section .departments .card1 span,
.second_section .departments .card12 span,
.second_section .departments .card span{
    width: 77%;
    display: block;
    font-size: larger;
    font-family:"Cairo", sans-serif;
    font-weight: bold;
}

.second_section .departments .card1 img,
.second_section .departments .card img{
    width: 18%;
    height: 50px;
    float: right;
    position: relative;
    margin-top: -30px;
}
.second_section .departments .card12 img{
    width: 18%;
    height: 50px;
    float: right;
    position: relative;
    margin-top: -67px;
}

.second_section .pop_departments{
    width: 40%;
    height: 70%;
    float: right;
    
}

.second_section .pop_departments .pop_card {
    width: 85%;
    height: 70%;
    padding: 20px;
    margin: 75px 0px 10px 20px;
    text-align: center;
    /* box-shadow: 2px 2px 2px 2px #a7a5a5; */
    background-color: #ffffff;
    border-radius: 10px;
    /* display: flex; */
    text-align: right;
}
.second_section .pop_departments .pop_card p {
    float: right;
    /* width: 90%; */
    font-family: "Cairo", sans-serif;
    font-size: 28px;
    font-weight: bold;
    /* margin: 70px 120px 20px 120px; */
    margin-top: 0px;
    margin-left: 310px;
    direction: rtl;
    color: #2c2f2f;
}
.second_section .pop_departments .pop_card2 span,
.second_section .pop_departments .pop_card span {
    /* float: right; */
    /* text-align: right; */
    margin: 8px;
    /* width: 90%; */
    font-family: "Cairo", sans-serif;
    /* font-weight: bold; */

}

.second_section .pop_departments .pop_card2 {
    width: 85%;
    height: 10%;
    padding: 20px;
    margin: 10px 20px 10px 20px;
    text-align: center;
    /* box-shadow: 2px 2px 2px 2px #a7a5a5; */
    background-color: #ffffff;
    border-radius: 10px;
    /* display: flex; */
    text-align: right;
}
.second_section .pop_departments .pop_card2 img{
    width: 10%;
    height: 40px;
    float: right;
    position: relative;
    margin-top: 0px;
    
}


.second_section .pop_departments .pop_card span i{
    float:left;
    background-color:rgba(10, 88, 202, .122) ; 
    color:#0a58ca; 
    border-radius: 50%; 
    width: 25px;
    height: 25px; 
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-size: small;
    font-family:"Cairo", sans-serif;
    font-weight: bold;
    font-style: normal;
    display: inline-flex;
    /* padding-bottom: 0px; */
}
.third_section{
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 50px;
    background-color: white;
    padding: 20px 0px;
}
/* .third_section img{
    
} */
.third_section .employer {
    /* float: right; */
    width: 45%;
    height: 295px;
    background-image: url(../imgs/bk-header.webp);
    background-position: bottom;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* margin-left: auto; */
    padding-right: 15px;
    position: relative;
    /* float: right; */
    /* justify-content: center; */
    /* align-items: center; */
    /* right: 60px; */
    left: 45px;
}

.third_section .employer img{
    position: absolute;
    left: 370px;
    top: 5px;
    /* pointer-events: visiblestroke; */
    width: 172px;
    height: 290px;
    /* margin-left: 320px; */
    /* margin-top: 54px; */
    
}
.third_section .employer .emp_card{
    width: 290px;
    background-color: white;
    top: 66px;
    left: 5px;
    position: absolute;
    box-shadow: 1px 1px 1px 1px #ddd;
    border-radius: 12px;
    height: 155px;
    
}
.third_section .employer .emp_card .main{
    float: right;
    position: relative;
    direction: rtl;
    right: 13px;
    top: 12px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    /* left: 50px;*/
    margin: 0px;
    font-family:"Cairo", sans-serif;
}
.third_section .employer .emp_card .main1{
    float: right;
    position: relative;
    direction: rtl;
    right: 125px;
    top: 12px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    /* left: 50px;*/
    margin: 0px;
    font-family:"Cairo", sans-serif;
}
.third_section .employer .emp_card .main_blue{
    /* flex-wrap: wrap; */
    /* display: block; */
    /* position: absolute; */
    /* left: 170px; */
    /* margin-left: 170px; */
    top: 115px;
    background-color: #ebf8ff;
    /* margin: 20px; */
    direction: rtl;
    /* width: 278px; */
    margin: 37px 5px 5px 5px;
    border-radius: 11px;
    height: 19px;
    padding: 10px;
    font-family:"Cairo", sans-serif;
    color: #0a58ca;
}
.third_section .employer .emp_card button{
    /* margin: 5px 10px 25px 10px; */
    width: 100px;
    height: 34px;
    top: 7px;
    left: 7px;
    background-color:#0d6efd;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    font-family: "Cairo", sans-serif;
    font-size: medium;
    cursor: pointer;
    position: absolute;
}

.third_section .connect{
    margin-right: -20px;
}
.third_section .connect .general{
    /* float: right; */
    font-family: "Cairo", sans-serif;
    font-size: 3.7cap;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    direction: rtl;

}
.third_section .connect .light{
    display: block;
    /* float: right; */
    font-family: "Cairo", sans-serif;
    font-size: 1.7cap;
    color: #858484;
    /* width: 70%; */
    margin: 0px 0px 15px 0px;
    direction: rtl;
}
.third_section .connect button{
    width: 150px;
    height: 34px;
    top: 7px;
    left: 7px;
    background-color: #0d6efd;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    font-family: "Cairo", sans-serif;
    font-size: medium;
    cursor: pointer;
    /* position: absolute; */
    float: right;
}
